.form-principal{
    background-color: rgba(255, 255, 255, 0.703);
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label{
    font-weight: bold;
}